

<!--<button class="btn btn-light" [routerLink]="['/adminDiasActividad']"> Ir Admin</button>
<button class="btn btn-light" [routerLink]="['/actividad']"> Ir Actividades</button>-->

<table id="example" class="table table-striped table-bordered" style="width:100%; table-layout: auto; ">
    <thead>
        <tr style="background-color: rgb(255, 222, 131); text-align: center">


            <th style="text-align: center">Organizacion</th>            
            <th></th>
        </tr>
    </thead>
    <tbody>
      </tbody>
      <tr *ngFor="let organizacion of organizaciones" style="background-color: beige; text-align: center">
        <td>{{organizacion.nombre_org}}</td> 
      
       
          <!--<label class="switch">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>-->
           <!-- <td><button type="button" class="btn btn-primary" (click)="update(usuario)">Editar</button></td>
          -->
          <td><button type="button" class="btn btn-danger"  (click)="deleteOrganizacion(organizacion.nombre_org)"> Borrar</button></td>
          
        </tr>
      </table>
      <button type="button" class="btn btn-info" (click)="redireccion()" style="margin-left: 94.4%">Añadir</button>


