<table id="example" class="table table-striped table-bordered" style="width:100%; table-layout: auto; ">
  <thead>
      <tr style="background-color: rgb(255, 222, 131); text-align: center">



        <th>Fecha</th>
        <th> Nombre actividad</th>
        <th>Usuario</th>
        <th>Name</th>
          
         
         
          
          
      </tr>
  </thead>
  <tbody>
    </tbody>
    <tr *ngFor="let registrado of registrados" style="background-color: beige; text-align: center">
        
      <td>{{registrado.fecha}}</td>  
      <td>{{registrado.nombre_act}}</td>  
      <td>{{registrado.usuario}}</td>  
      <td>{{registrado.name}}</td>  
      
      
      
        <!--<label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
          </label>-->
          
        
        
      </tr>
    </table>
