<div class="row" style="max-width:350px;">
  <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <div class="form-group">
      <label for="name">Añadir Organizacion</label>
      <input type="text" class="form-control" name="organizacion" [(ngModel)]="organizacion.nombre_org" #name="ngModel" required />
      <div *ngIf="f.submitted && organizacion.invalid">
        <div *ngIf="organizacion.errors.required">Organizacion is required</div>
      </div>
    </div>
   
    <div class="form-group">
      <button class="btn btn-primary">Añadir organizacion</button>
      <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning">
        Signup failed!<br/>{{errorMessage}}
      </div>
    </div>
  </form>
</div>