<table id="example" class="table table-striped table-bordered" style="width:100%; table-layout: auto; ">
    <thead>
        <tr style="background-color:white; text-align: center">


           
            <th>Fecha</th>
            <th>Actividad</th>
            
        </tr>
    </thead>
    <tbody>
      </tbody>
      <tr *ngFor="let fechaActividad of fechaActividadList" style="background-color: beige; text-align: center">
          
        <td>{{fechaActividad.fecha}}</td>  
        <td>{{fechaActividad.nombre_act}}</td>
          <!--<label class="switch">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>-->
            
          <td><button type="button" class="btn btn-danger"  (click)="delete(fechaActividad)"> Borrar</button></td>
          
        </tr>
      </table>
